
/* scrollbar styling */

::-webkit-scrollbar {
width: 13px;
height: 13px;
}

::-webkit-scrollbar-track-piece {
background-color: #151716;
}

::-webkit-scrollbar-thumb:vertical {
height: 50px;
background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #43324b),
    color-stop(100%, rgb(169, 115, 185))
);
border: 1px solid #43324b;
border-top: 1px solid rgb(169, 115, 185);
border-left: 1px solid rgb(169, 115, 185);
}

